<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:requiresSmallestWidthDp="800"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="org.odk.collect.android.provider.odk.forms.permission.READ_FORMS" />
    <uses-permission android:name="org.odk.collect.android.provider.odk.forms.permission.WRITE_FORMS" />
    <uses-permission android:name="org.odk.collect.android.permission.READ_FORMLIST"/>
    <uses-permission android:name="org.odk.collect.android.permission.WRITE_RESULTS"/>
    <uses-permission android:name="org.odk.collect.android.provider.forms.READ_ONLY"/>
    <uses-permission android:name="org.odk.collect.android.provider.instances.READ_WRITE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"/>

    <queries>
        <package android:name="org.odk.collect.android" />
        <provider android:authorities="org.odk.collect.android.provider.odk.forms" />
        <provider android:authorities="org.odk.collect.android.provider.odk.instances" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.EDIT" />
            <data android:mimeType="vnd.android.cursor.item/vnd.odk.form" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/hdss1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/hdss1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".Activity.ODKCsvActivity"
            android:exported="false" />
        <activity
            android:name=".Sync.SyncActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog.FixedSize" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="YOUR_API_KEY"/> -->
        <activity
            android:name=".Activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RejectionsActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".Activity.SupervisorActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog.Alert" />
        <activity
            android:name=".Duplicate.DuplicateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QueryActivity"
            android:exported="false" />
        <activity
            android:name=".Baseline.BaselineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".Activity.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LocationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".Activity.HierarchyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.RemainderActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PullActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:label="Fetch Data From Server" />
        <activity
            android:name=".Activity.PushActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:label="Sync Data"
            android:resizeableActivity="true"
            tools:targetApi="24" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>